<h2>Редактирование поста</h2>
<%= form_for :post, url: post_path(@post), method: :patch do |f| %>
  <% if @post.errors.any?  %>
    <% @post.errors.full_messages.each do |msg|  %>
      <div class="alert alert-danger">
        <%= msg %>
      </div>
    <% end %>
  <% end %>
  <p>
    <%= f.label "Название" %>
    <%= f.text_field(:title, {:class => "form-control"}) %>
  </p>
  <p>
    <%= f.label "Текст статьи" %>
    <%= f.text_area(:body, {:class => "form-control", rows: "20"}) %>
  </p>
  <p>
    <%= f.submit({:class => "btn btn-primary"}) %>
  </p>
<% end %>
