<div class="posts-page">
  <h1>Посты</h1>
  <% @posts.each do |post| %>
    <div class="card border-primary mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <h6>Автор: <%= post.user.firstName %> <%= post.user.lastName %></h6>
        <p class="cardBodyText"><%= post.body %></p>
        <div class="footer">
          <%=
            link_to "Читать далее",
                    post_path(post),
                    :class => "btn btn-outline-primary"
          %>
          <div>
            <span class="upRate">+ <%= post.up_rate.length %></span> / <span class="downRate">- <%= post.down_rate.length %></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>