<div class="new-post-page">
  <h1>Добавление нового поста</h1>
  <%= form_for :post, url: posts_path do |f| %>
    <p>
      <%= f.label "Название" %>
      <%= f.text_field(:title, {:class => "form-control"}) %>
    </p>
    <p>
      <%= f.label "Текст статьи" %>
      <%= f.text_area(:body, {:class => "form-control", rows: "20" }) %>
    </p>
    <p>
      <%= f.submit({:class => "btn btn-primary", :name => "new_post"}) %>
      <%= f.submit "Добавить в черновики",
                   :class => "btn btn-secondary",
                   :name => "new_draft"
      %>
    </p>
  <% end %>
</div>