<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      .main-wrapper {
          margin-top: 20px;
      }

      .nav-item-margin:not(:last-child) {
          margin-right: 10px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <span class="navbar-brand"><%= link_to "Блог", home_path, :class => "nav-link" %></span>
        <ul class="navbar-nav flex-row">
          <% if user_signed_in? %>
            <li class="nav-item nav-item-margin"><%= link_to "Мои посты", myposts_path, :class => "nav-link" %></li>
            <li class="nav-item nav-item-margin"><%= link_to "Добавление статьи", new_post_path, :class => "nav-link" %></li>
            <li class="nav-item nav-item-margin"><%= link_to "Выход", destroy_user_session_path, :class => "nav-link" %></li>
          <% else %>
            <li class="nav-item nav-item-margin"><%= link_to "Вход", new_user_session_path, :class => "nav-link" %></li>
            <li class="nav-item nav-item-margin"><%= link_to "Регистрация", new_user_registration_path, :class => "nav-link" %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container main-wrapper">
      <%flash.each do |name, message| %>
        <% if name == 'notice' %>
          <div class="alert alert-primary" role="alert">
            <%= message %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
        <% if name == 'alert' %>
          <div class="alert alert-danger" role="alert">
            <%= message %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
